
<h1>Welcome!</h1>

<h2>Wondering what type of massage you need?</h2> 
<h3>Let us bestow some massage wisdom upon you.</h3>

<h3> But first we need you to tell us what symptoms you are experiencing. </h3>

<p>

  <%= form_tag(recommendations_show_recommendation_path, method: "get", action: "show_recommendation") do %>
  <%= select_tag "symptom", options_from_collection_for_select(@symptoms, "id", "name") %> 
  <%= submit_tag("Get Recommendation") %>
<% end %>
	
</p>



