@import "colors";

header#page-header {
  color: $secondary-color;
  background: $primary-color;
  padding: 5px; 
  border: 3px solid darken($primary-color, 20%);

  h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Esteban", sans-serif;
  }
}

aside#sidebar {
  float: right;
  //background: $secondary-color;
  width: 300px;

  ul {
    list-style: none;
    li {
    margin-top: 20px;
    }
  }
}

footer#page-footer {
  color: $primary-color;
  background: $secondary-color;
  text-align: center;
  padding: 5px;
  border: 3px solid darken($primary-color, 20%);
}