<footer id="page-footer">

  <p>
    Copyright &copy; 2015
    <%= link_to 'Sharon Eller, LMT','http://sharonellerlmt.com' %>
  </p>
  <h5>Admin Only:</h5><%= link_to 'Add New Recommendation', new_recommendation_path %>

</footer>