<aside id="sidebar">
  <nav>
    <ul>
      <li>
        <%= link_to 'All Recommendations', recommendations_path %>
      </li>
      <li>
        <%= link_to 'Add New Recommendation', new_recommendation_path %>
      </li>
     
             

    </ul>
  </nav>
</aside>