<aside id="sidebar">
  <nav>
    <ul>
      <li>
        <%= link_to 'Get Recommendation', recommendations_path %>
      </li>

      <li>
        <%= link_to "Show All Recommendations", recommendations_show_all_recommendations_path %>
      </li>

    </ul>
  </nav>
</aside>